<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nuts.app">

    <application
            android:allowBackup="true">
        <activity
                android:name=".MainActivity"
                android:label="@string/demo_app_name">
        </activity>
    </application>

</manifest>
